In [50]:
import pandas as pd
import numpy as np

In [51]:
amazon=pd.read_csv("Amazon.csv")
amazon

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
6150,2021-10-21,3414.250000,3440.280029,3403.000000,3435.010010,3435.010010,1881400
6151,2021-10-22,3421.000000,3429.840088,3331.300049,3335.550049,3335.550049,3133800
6152,2021-10-25,3335.000000,3347.800049,3297.699951,3320.370117,3320.370117,2226000
6153,2021-10-26,3349.510010,3416.120117,3343.979980,3376.070068,3376.070068,2693700
6154,2021-10-27,3388.000000,3412.000000,3371.453369,3396.189941,3396.189941,1080291

In [52]:
amazon.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [53]:
del amazon["Date"]
del amazon["Adj Close"]
print(amazon.shape)
amazon

(6155, 5)

             Open         High          Low        Close    Volume
0        2.437500     2.500000     1.927083     1.958333  72156000
1        1.968750     1.979167     1.708333     1.729167  14700000
2        1.760417     1.770833     1.625000     1.708333   6106800
3        1.729167     1.750000     1.635417     1.635417   5467200
4        1.635417     1.645833     1.375000     1.427083  18853200
...           ...          ...          ...          ...       ...
6150  3414.250000  3440.280029  3403.000000  3435.010010   1881400
6151  3421.000000  3429.840088  3331.300049  3335.550049   3133800
6152  3335.000000  3347.800049  3297.699951  3320.370117   2226000
6153  3349.510010  3416.120117  3343.979980  3376.070068   2693700
6154  3388.000000  3412.000000  3371.453369  3396.189941   1080291

[6155 rows x 5 columns]

In [54]:
Y=np.array([amazon.Close])
Y=Y.T
Y.shape

(6155, 1)

In [55]:
del amazon["Close"]
amazon

             Open         High          Low    Volume
0        2.437500     2.500000     1.927083  72156000
1        1.968750     1.979167     1.708333  14700000
2        1.760417     1.770833     1.625000   6106800
3        1.729167     1.750000     1.635417   5467200
4        1.635417     1.645833     1.375000  18853200
...           ...          ...          ...       ...
6150  3414.250000  3440.280029  3403.000000   1881400
6151  3421.000000  3429.840088  3331.300049   3133800
6152  3335.000000  3347.800049  3297.699951   2226000
6153  3349.510010  3416.120117  3343.979980   2693700
6154  3388.000000  3412.000000  3371.453369   1080291

[6155 rows x 4 columns]

In [56]:
#it will create 2d array
X=amazon.values
X.shape

(6155, 4)

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [58]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=0)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((4616, 4), (1539, 4), (4616, 1), (1539, 1))

In [59]:
clf=LinearRegression()
clf.fit(x_train,y_train)
#predict function gives the predicted value using x values
y_predict=clf.predict(x_test)

In [60]:
clf.score(x_test,y_test)

0.99995311855701

In [ ]:
open_=float(input("Enter opening Price :"))
high_=float(input("Enter highest Price :"))
low_=float(input("Enter lowest Price :"))
volume_=int(input("Enter total volume :"))
if high_ < low_:
    print("Low price has to be higher than high")
if open_<0 or high_<0 or low_<0 or volume_<0:
    print("Price can't be negative")
else:
    test_=np.array([[open_,high_,low_,volume_]])
    pred=clf.predict(test_)
    print("The approx closing price is : ",pred[0])

Enter opening Price :1.63